<div class="flex align-center full-width gap-half">
  <span class="btn borderless" style="pointer-events: none; --icon-size: 1.3em; --btn-padding: 0 0.4em 0 0.6em;">
    <%= icon_tag "filter" %>
  </span>
  <strong class="popup__title txt-medium">Collections</strong>
  <button class="btn borderless txt-x-small flex-item-justify-end" data-action="click->dialog#close" >
    <%= icon_tag "remove-med" %>
    <span class="for-screen-reader">Close</span>
  </button>
</div>
