<% bubble = event.summary.bubble %>

<%= link_to bucket_bubble_path(bubble.bucket, bubble),
      class: "event panel shadow center center-block flex-inline align-center justify-start gap position-relative",
      style: "--bubble-color: #{ bubble.color }; #{ bubble_rotation(bubble) }",
      data: { controller: "animation", 
              related_element_target: "related", 
              related_element_group_value: bubble.id,
              animation_play_class: "bubble--wobble", 
              animation_play_on_load_value: "true", 
              action: "mouseover->animation#play mouseover->related-element#highlight mouseout->related-element#unhighlight" } do %>
  <div class="bubble__shape flex-item-no-shrink txt-large"></div>
  <div class="flex flex-column min-width txt-small txt-tight-lines align-start txt-align-start">
    <strong><%= bubble.title %></strong>
    <span class="txt-small translucent"><%= bubble.bucket.name %></span>
  </div>
<% end %>
